{% extends 'base.admin.html.twig' %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                Interface Client
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-auto"> <a href="{{ path('client_load_transfert') }}" class="btn btn-outline-success"> Effectuer un transfert</a> </div>
                    <div class="col-auto"> <a href="{{ path('client_load_info') }}" class="btn btn-outline-success"> Informations bancaire </a> </div>
                    <div class="col-auto"> <a href="{{ path('client_load_carte') }}" class="btn btn-outline-success"> Carte bancaire </a> </div>
                </div>
            </div>
        </div>
    </div>

    {% block action %} {% endblock %}
{% endblock %}