{% extends 'base.admin.html.twig' %}
{% block content %}
    <div class="container">
        <div class="card" id="card">
            <div class="card-header text-center">
                <h3 class="mt-3">
                    Creation de compte
                </h3>
            </div>
            <div class="card-body mx-3">
                <form method="post" action="{{ path('caisse_add_account') }}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">Nouveau client ? </label>
                            <select id="testClient" name="newClient" class="form-control">
                                <option selected value="n">Non</option>
                                <option value="y">Oui </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div id="oldClient">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Piece d'identite</label>
                                        <select id="piecePieceOld1" name="typePieceOld" class="form-control">
                                            <option selected value="passeport">Passeport</option>
                                            <option value="cni"> CNI </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4" id="nomPieceOld">Numero de passport</label>
                                        <input type="text" class="form-control" name="numeroPieceOld" id="inputEmail4" placeholder="Numero">
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="newClient" style="display: none">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Nom</label>
                                <input type="text" name="nom" class="form-control" id="inputEmail4" placeholder="Nom">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Prenom(s)</label>
                                <input type="text" name="prenom" class="form-control" id="inputEmail4" placeholder="Prenom">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="inputPassword4">Email</label>
                                <input type="email" name="email" class="form-control" id="inputPassword4" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Date de naissance</label>
                                <input type="date" name="naissance" class="form-control" id="inputEmail4" placeholder="Naissance">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Piece d'identite</label>
                                <select id="pieceIdentite" name="typePiece" class="form-control bg-">
                                    <option selected value="passeport">Passeport</option>
                                    <option value="cni"> CNI </option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4" id="nomPiece">Numero de passport</label>
                                <input type="text"  name="numeroPiece" class="form-control" id="inputEmail4" placeholder="Numero">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4" id="nomPiece">Date d'expiration</label>
                                <input type="date" name="datePiece" class="form-control" id="inputEmail4" placeholder="Expiration">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Adresse</label>
                            <input type="text" name="adresse" class="form-control" id="inputAddress" placeholder="">
                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-4">
                                <label for="inputState">Pays</label>
                                <input type="text" name="pays" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputCity">Ville</label>
                                <input type="text" name="ville" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip">Code postal</label>
                                <input type="text" name="codePostal" class="form-control" id="inputZip">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Type de compte </label>
                            <select id="typeCompte" name="typeCompte" class="form-control ">
                                {%for type in types %}
                                    <option value="{{ type.id }}"> {{ type.nom }} </option>
                                {% endfor %}
                            </select>
                        </div>


                    </div>

                    <input type="submit" value="Creer un compte" class="btn btn-outline-light">
                </form>
            </div>
        </div>
    </div>


{% endblock %}
